

/*Clase para imagen producto*/
.productos{width: 30%; 
    height: 30%;}
    
/*Clase imagen para header*/


.imagenmenu{
    width: 100%;
    height: auto;
      }
@supports(object-fit: cover){
    .imagenmenu{
    height: 100%;
    object-fit: cover;
    object-position: center center;
          }
      }

.imagen-ppales{height: 160px; 
        width: 160px;
        border-style: solid;
        transition: all 0,5s;}
.imagen-ppales:hover
    {transform: scale(1.3);

}